#contact-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-image-holder {
    background-image: url('../../../src/images/contact.jpg');
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 600px;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px red solid; */
    margin: 0 auto;
}

#bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 550px;
    padding: 20px;
    text-align: center;
}