#about-title {
    color: black;
    text-align: center;
    padding-top: 50px;

    h1 {
        padding-bottom: 20px;
    }
}

#image-holder {
    text-align: center;
    padding-bottom: 10px;

    img {
        height: 600px;
    }
}

#container {
    text-align: center;
}