@import "../../index.scss";

/* Recipe preview */
 .recipe-preview-container {
    text-align: center;
    border-radius: 20px;
    width: 500px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0px 0px 25px $box-shadow-color;

    .recipe-info {
        color: $primary-color;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif !important;
    }

    .recipe-content {
        font-size: 16px;
    }

    .recipe-image {
        width: 100%;
        min-height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .recipe-details {
        padding: 20px;
    }

    .recipe-title {
        font-weight: 100;
        border-radius: 20px;
        line-height: 1.3;

        @media screen and (max-width: '480px') {
            font-size: 1.7em;
        }
    }

    img {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 230px;
        width: 210px;

        @media screen and (max-width: '480px') {
            width: 50%;
        }
    }

    p {
        padding: 10px 0;
        margin-bottom: 0;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .recipe-details--bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .recipe-details--ratings {
            display: flex;
            flex-wrap: wrap;

            .recipe-info {
                text-align: left;
                width: 100%;
            }
        }
    }

    #stars-outer {
        position: relative;
        display: none;

        &::before {
            content: "\f005 \f005 \f005 \f005 \f005";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: #CCC;
        }

        #stars-inner {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            width: 0;

            &::before {
                content: "\f005 \f005 \f005 \f005 \f005";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                color: $star-color;
            }
        }
    }
}


/* Responsive */
@media screen and (max-width: 575px) {
    .recipe-preview-container {
        width: 80%;

        .recipe-image {
            min-height: 200px;
        }
    }
}

@media screen and (max-width: 399px) {
    .recipe-preview-container {
        .recipe-details--bottom {
            justify-content: center;

            .recipe-details--ratings {
                justify-content: center;

                .recipe-info {
                    text-align: center;
                }
            }
        }
    }
}
/* The End */